<login:>
    {#with :self}
        <form id="derby-auth-login" action='/login' method='post'>

            <div class="control-group {#if .errors.username}error{/}">
                <input type='text' name="username" placeholder="Username" x-bind="blur:usernameBlur" value="{.username}"/>
                <span class="help-inline">{.errors.username}</span>
            </div>

            <div class="control-group {#if .errors.password}error{/}">
                <input type='password' name="password" placeholder="Password" value="{.password}"/>
                <span class="help-inline">{.errors.password}</span>
            </div>

            <input type="submit" value="Login" class="btn"/>
        </form>

        <a x-bind="click:showPasswordReset">Forgot Password</a>
        <form id="derby-auth-password-reset" x-bind="submit:submitPasswordReset" method='post' style='display:none;' class='well'>
            <h3>Email New Password</h3>

            <div class="alert alert-success">{.success.passwordReset}</div>

            <div class="control-group {#if .errors.passwordReset}error{/}">
                <input type='text' name="email" placeholder="Email" value="{.passwordResetEmail}"/>
                <span class="help-inline">{.errors.passwordReset}</span>
            </div>

            <input type="submit" value="Submit" class="btn"/>
        </form>
    {/}