<Title:>
  DerbyJS • Authentication

<Header:>
	<ui:connectionAlert>

<Body:>

    {{#if _session.loggedIn}}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Be sure to leave the brand out there if you want it shown -->
                    <span class="brand">Logged In</span>
                    <a class="btn pull-right" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    {{/}}

    <div class="well">
        {{#if _session.flash.error}}
            <ul class="alert alert-error">
            {{#each _session.flash.error as :error}}
                <li>{{:error}}</li>
            {{/}}
            </ul>
        {{/}}

        {{#if _flash.info}}
            <ul class="alert alert-success">
            {{#each _session.flash.info as :info}}
                <li>{{:info}}</li>
            {/}}
            </ul>
        {{/}}

        <h2>Connect With</h2>
        {{#if _page.user.facebook}}
            <p><span class="label">facebook</span><pre class="prettyprint">_page.user.facebook.name = {{_page.user.facebook.name}}</pre></p>
        {{else}}
            <a class="btn" href='/auth/facebook'>Facebook</a>
        {{/}}

        {{#if _page.user.linkedin}}
            <p><span class="label">linkedin</span><pre class="prettyprint">_page.user.linkedin.name = {{_page.user.linkedin.name}}</pre></p>
        {{else}}
            <a class="btn" href='/auth/linkedin'>LinkedIn</a>
        {{/}}

        {{#if _page.user.github}}
            <p><span class="label">github</span><pre class="prettyprint">_page.user.github.name = {{_page.user.github.name}}</pre></p>
        {{else}}
            <a class="btn" href='/auth/github'>Github</a>
        {{/}}

        {{#if _page.user.twitter}}
            <p><span class="label">twitter</span><pre class="prettyprint">_page.user.twitter.name = {{_page.user.twitter.name}}</pre></p>
        {{else}}
            <a class="btn" href='/auth/twitter'>Twitter</a>
        {{/}}

        <p>
            {{#if _page.user.local}}
                <p><span class="label">registration</span><pre class="prettyprint">_page.user.local.username = {{_page.user.local.username}}</pre></p>
                <hr/>
                <derby-auth:changePassword />
            {{else}}
                <!-- FIXME the tabs aren't switching, revisit -->
                <!--<boot:tabs>
                    <boot:tab title=Login >
                        <derby-auth:login />
                    </boot:tab>
                    <boot:tab title=Register >
                        <derby-auth:register />
                    </boot:tab>
                </boot:tabs>-->
                <div class=row-fluid>
                    <div class=span6>
                        <h4>Login</h4>
                        <derby-auth:login />
                    </div>
                    <div class=span6>
                        <h4>Register</h4>
                        <derby-auth:register />
                    </div>
                </div>
            {{/}}
        </p>
    </div>